@define-color bg_color #181818;

* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 500;
}

window#waybar {
    background-color: transparent; 
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @bg_color;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 4px;
    background-color: @bg_color;
    color: white;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: white;
    color:black;
    font-weight: bolder;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#custom-cpu_graph {
    background-color: @bg_color;
    padding: 0 12px;
    border-radius: 5px;
}

#clock {
    margin-right: 10px;
}

#custom-window_title {
    border-radius: 5px;
    min-width: 200px;
    background-color: @bg_color;
    padding: 0 12px;
}

#custom-window_title.with-icon {
    padding-left: 28px;
}

#custom-window_title.with-icon label {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}


#workspaces {
    border-radius: 5px;
    padding-left: 12px;
}

label:focus {
    background-color: @bg_color;
}

#temperature.critical {
    background-color: #eb4d4b;
}

.module-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

tooltip {
    background-color: @bg_color;
    color: white;
    padding: 8px;
}
